<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<Header>
    <nav class="navbar navbar-light bg-light">
        <a href="http://localhost:3000/login">
            <button class="btn btn-outline-danger my-2">Entrar</button>
        </a>       
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Digite sua cidade" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
        </form>
    </nav>
    <hr class="mt-2 mb-3">
</Header>
<body>
    <div class="card-columns">
        <a href="">
        <div class="card" style="width: 18rem;">
            
                <img class="card-img-top" style="height: 300px; width: 300px" src="img/default.jpg" alt="Card image cap">
                    
            <div class="card-body">
                <h5 class="card-title"> Harry Potter </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
        </div>
        </a>
    </div>
</body>
</html>