<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand px-2" href="http://localhost:4000/logged">
                <img src="/img/icon.png" width="50" height="50" alt="logo"> 
            </a>
        </div>
        <div class="col-auto">
            <input class="form-control mr-sm-2" type="search" id="searchfield" name="searchfield" placeholder="Digite sua cidade" aria-label="Search">
        </div>
        <div class="navbar-brand px-2">
            <a href="http://localhost:4000/bookregister" class="btn btn-outline-success my-2">Registrar Livro</a>
        </div>    
        <div class="navbar-brand px-2">
            <a href="http://localhost:4000/logout" class="btn btn-outline-danger my-2">Sair</a>
        </div>
    </nav>
    <hr class="mt-2 mb-3">
    <body class="bg-light m">
        <div class="container">
            <div class="row row-cols-3">
                <%for(books of Books){%>     
                    <div class="col py-5">
                        <div class="card" style="width: 18rem;">     
                            <img class="card-img-top" style="height: 290px; width: 100%" src="uploads/<%=books.img%>" alt="Card image cap">                   
                            <div class="card-body">
                                <h5 class="card-title"><%=books.name%></h5>
                                <p class="card-text"><%=books.contact%></p>
                            </div>
                            <div class="card-footer">
                                <div class="text-muted">
                                    <%=books.locality%>
                                </div>
                            </div>
                        </div>
                    </div>         
                <%}%>             
            </div> 
        </div>         
    </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var search = document.getElementById('searchfield')

    search.addEventListener("keypress", (e) => {
        if(e.key === "Enter")
        {
            event.preventDefault()
            location = "http://localhost:4000/feed/"+search.value
        }  
    })
</script>
</html>